body {
    text-align: left;
    background-color: #1b2a41;
    margin: 0px;
    font-size: 18px;
    color: #ccc9dc;
}

section {
    margin: 5%;
}

button {
    border-radius: 15px;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #324a5f;
    border-color: #CCC9DC;
    border-style: outset;
    border-width: 4px;
    color: #CCC9DC;
    font-size: 18px;
}

button:hover {
    background-color: #223a4f;
}

button:active {
    border-style: inset;
}

header {
    background: #0c1821;
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer {
    background: #0c1821;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0px;
}

a {
    color: #aa99ff;
}

code {
    background-color: #0d1117;;
    color: #c9d1d9;
    border-radius: 10px;
    padding: 2px;
}

.dashed-underline {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    color: #ccc9dc;
}

.title {
    color: #ccc9dc;
    font-size: 28px;
    padding: 0px;
    margin: 0px;
}

.nav-link {
    background-color: #324a5f;
    border-radius: 15px;
    padding: 7px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc9dc;
    font-size: 24px;
    text-decoration: none;
    border-style: none;
}

.nav-link:active {
    border-style: none;
}

.hackatime-banner {
    background-color: darkred;
    padding: 10px;
    border-color: red;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    margin: 10px;
    font-size: 20px;
}

.info-banner {
    background-color: #324a5f;
    padding: 10px;
    border-color: #ccc9dc;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    margin: 10px;
    font-size: 20px;
}

.tip {
    background-color: #324a5f;
    padding: 10px;
    border-color: #d9dcc9;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    margin: 10px;
    font-size: 20px;
}