body {
    text-align: center;
    background-color: #1b2a41;
    margin: 0px;
    font-size: 17px;
    color: #ccc9dc;
}

section {
    margin: 5%;
}

button {
    border-radius: 15px;
    padding: 10px;
}

header {
    background: #0c1821;
    margin: 0px;
    padding: 10px;
}

a {
    color: #aa99ff;
}

h1 {
    margin: 0px;
}

pre {
    white-space: pre-wrap;
    margin-left: 20%;
    margin-right: 20%;
}

button {
    border-radius: 15px;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #324a5f;
    border-color: #CCC9DC;
    border-style: solid;
    color: #CCC9DC;
}

button:hover {
    background-color: #223a4f;
}

.title {
    color: #ccc9dc;
}

.faq {
    background-color: #324a5f;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px 2px 10px 2px;
    border-radius: 20px;
}