body {
    text-align: center;
    background-color: #1b2a41;
    margin: 0px;
    font-size: 18px;
    color: #ccc9dc;
}

section {
    margin: 5%;
}

header {
    background: #0c1821;
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer {
    background: #0c1821;
    margin: 0px;
    padding: 10px;
}

a {
    color: #aa99ff;
}

h1 {
    margin: 0px;
}

pre {
    white-space: pre-wrap;
    margin-left: 20%;
    margin-right: 20%;
}

button {
    border-radius: 15px;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #324a5f;
    border-color: #CCC9DC;
    border-style: outset;
    border-width: 4px;
    color: #CCC9DC;
    font-size: 18px;
}

button:hover {
    background-color: #223a4f;
}

button:active {
    border-style: inset;
}

.title {
    color: #ccc9dc;
}

.faq {
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px 2px 10px 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #2a3f52;
    border-width: 5px;
    padding: 10px;
    background-color: #324a5f;
}

.rewards {
    text-align: left;
    border-style: solid;
    border-color: #2a3f52;
    border-radius: 20px;
    border-width: 5px;
    padding: 10px;
    background-color: #324a5f;
}

.top-section {
    margin-top: 2%;
}

.nav-link {
    background-color: #324a5f;
    padding: 5px;
    margin: 5px;
}